#sidemap
{
    float:left;
    width:20%;
    height:100%;
}

#map 
{ 
    float:right;
    height: 100%; 
    width: 80%; 
}

.popup{
    position:absolute;
    display:flex;
    justify-content:center;
    margin:100px auto;
    width:200px;
    height:150px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:rgb(240,240,240);
    border:2px solid grey;
    z-index:100000000000000000;
    }
    
#cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:10px;
    width:14px;
    padding:0 0 5px 0;
    background-color:red;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
    }

#cancel:hover{
    background:rgb(255,50,50);
    }

#slider_distance {
    width: 75%;
    height: 25px;
    opacity: 0.7;
    background-color: gainsboro;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }

  #sliderRate_distance {
    width: 75%;
    height: 25px;
    opacity: 0.7;
    background-color: gainsboro;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }

