#sidemap
{
    float:left;
    width:25%;
    height:100%;
}

#map 
{ 
    float:right;
    height: 100%; 
    width: 75%; 
}

.overlay {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 2;
  }

.popup {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    text-align: center;
    background: white;
  }