:root
{
    --sidebar: #ddc8a2;
    --yellow: #f0e7bc;
    --green: #b6e59e;
    --grey: #dcd9d6;
    --darkgreen: #726b3b;
    --blue: #2B83CB;
    --lightblue: #b3d3ec;
}

#sidemap
{
    float:left;
    background-color: var(--sidebar);
    width:20%;
    height:100%;
    border-right: var(--darkgreen);
    margin: 0;
    padding: 0;
}

#content
{
    margin-left: 10px;
    size: auto;
}

#subt
{
    font-size: 20px;
    font-weight: bold;
}
#map 
{ 
    float:right;
    height: 100%; 
    width: 79.5%; 
    margin-left: 0;
    padding: 0;
}

.button {
    cursor:pointer;
    background-color:var(--lightblue);
    border-radius:10%;
    border: 1px solid var(--blue);
    float:right;
}

.outerpopup {
    position:absolute;
    display:flex;
    top: 50%;
    left: 50%;
    width:50vw;
    height:50vh;
    transform: translate(-50%, -50%);
    z-index:100000000000000000;
    opacity: 100%;
    background-color:var(--yellow);
    border:2px solid black;
    box-shadow: 0 0 0 100vmax rgba(0,0,0,.3);
}

.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:3%;
    width:3%;
    left: 97%;
    top: .3%;
    position:absolute;
    background-color:transparent;
    font-weight:bold;
    text-align:center;
    font-size:15px;
    color:var(--blue);
    border-radius:4px;
    z-index:100000000000000000;
    }

#cancel:hover{
    background:rgb(255,50,50);
    }

#slider_distance {
    width: 75%;
    height: 25px;
    opacity: 0.7;
    background-color: gainsboro;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }

  #sliderRate_distance {
    width: 75%;
    height: 25px;
    opacity: 0.7;
    background-color: gainsboro;
    -webkit-transition: .2s;
    transition: opacity .2s;
    cursor: pointer;
  }

