<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>

    <link rel="stylesheet" href="../../static/mapRate/Map.css">

  </head>

  <body>

    <div id="sidemap">
      <h2> Filter </h2>
        <p>Gender</p>
        <div id="gender">
          Men: <input type="checkbox" id="men">
          Women: <input type="checkbox" id="women">
          Gender Neutral: <input type="checkbox" id="genderNeutral">

          <script>
            var men = document.getElementById("men");
            var women = document.getElementById("women");
            var genderNeutral = document.getElementById("genderNeutral");
          </script>
        </div>
        <p>Distance</p>
        <div id="distance"></div>
        <p>Hygene Products</p>
        <div id="hygene"></div>
        <p>Rating</p>
        <div id="rating"></div>
    </div>


    <div id="map"></div>

    <script>
      var map = L.map('map').setView([33.646, -117.843], 17);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 19,
        minZoom: 17,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiY2F0aGVyaW5lMTAzMDEiLCJhIjoiY2wzZmY1OGp6MDU2NDNjbHE5dHRld2U4cSJ9.vtDWqK9r4idKKgr9thStKQ'
      }).addTo(map);

    function OpenModal() {
      let element = document.getElementById('overlay')
      element.style.display = 'block'
    }
    function CloseModal() {
      let element = document.getElementById('overlay')
      element.style.display = 'none'
    }

    </script>
    <div class="overlay">
      <div class="popup">
        <div onclick="CloseModal()">&#10006;</div> <!-- Shows Close Icon -->
        <h3>Popup Content</h3>
      </div>
    </div>
    
    <ul>
      {% for bathroom in bathrooms %}
        <script>
          var string = '<a style="float:center"><b>{{bathroom.name}}</b></a>';
          string += '<br>Quality rating: {{bathroom.cleanlinessNo}}<br>';
          string += '<button style="float:right" onclick=OpenModal()">more</button><br>';
          var pin = L.marker(['{{bathroom.latitude}}', '{{bathroom.longitude}}'],
          {alt: '{{bathroom.name}}', title: '{{bathroom.name}}'}).addTo(map)
          .bindPopup(string);
        </script>
      {% endfor %}
     </ul>
  </body>
</html>