<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin="">
    </script>

    <link rel="stylesheet" href="../../static/mapRate/Map.css">



  </head>

  <body>

    <div id="sidemap">
      <div id="content">
      <h2> Preferences </h2>
        <p id="subt">Gender</p>
        <div id="gender">
          <input type="checkbox" id="men"> Men
          <br>
          <input type="checkbox" id="women"> Women
          <br>
          <input type="checkbox" id="genderNeutral"> Gender Inclusive
          <br>
        </div>

        <br>

        <div id="distance">
          <p id="subt">Distance: <span id="slider_val"></span> miles</p>
          <input type="range" min="0" max="1" value="0" step="0.1" id="slider_distance" list = "steplist">
          <datalist id="steplist">
            <option>0</option>
            <option>0.1</option>
            <option>0.2</option>
            <option>0.3</option>
            <option>0.4</option>
            <option>0.5</option>
            <option>0.6</option>
            <option>0.7</option>
            <option>0.8</option>
            <option>0.9</option>
            <option>1</option>
        </datalist>
        </div>

        <br>

        <p id="subt">Hygiene Products</p>
        <div id="hygene">
          <input type="checkbox" id="freeHygiene"> Free
          <br>
          <input type="checkbox" id="paidHygiene"> Paid
        </div>

        <br>
        
        <div id="rating">
          <p id="subt">Rating: <span id="sliderRate_val"></span> stars</p>
          <input type="range" min="1" max="5" value="5" id="sliderRate_distance" list="steplistRate" >
          <datalist id="steplistRate">
            <option>0</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </datalist>
        </div>

        <br>
        <button id="EnterBtn" onclick="buttonClicked()">Enter</button>
      </div>
    </div>

    <script>
      var men = document.getElementById("men");
      var women = document.getElementById("women");
      var inclusive = document.getElementById("genderNeutral");
      var freeHygiene = document.getElementById("freeHygiene");
      var paidHygiene = document.getElementById("paidHygiene");

      var slider = document.getElementById("slider_distance");
      var output = document.getElementById("slider_val");
      output.innerHTML = slider.value;

      var sliderRate = document.getElementById("sliderRate_distance");
      var outputRate = document.getElementById("sliderRate_val");
      outputRate.innerHTML = sliderRate.value;

      slider.oninput = function() 
      {
        output.innerHTML = this.value;
      }

      sliderRate.oninput = function() 
      {
        outputRate.innerHTML = this.value;
      }

      function buttonClicked()
      {
        var form = document.createElement('form');
        form.action = "{% url 'main' %}";
        form.method = "post";
        form.innerHTML = '{% csrf_token %}\n<input type="text" value="filter" name="type">\n';
        form.innerHTML += '<input type="text" name = "m" value='+men.checked+'>\n';
        form.innerHTML += '<input type="text" name = "f" value='+women.checked+'>\n';
        form.innerHTML += '<input type="text" name = "i" value='+inclusive.checked+'>\n';
        form.innerHTML += '<input type="text" name ="free" value='+freeHygiene.checked+'>\n';
        form.innerHTML += '<input type="text" name ="paid" value='+paidHygiene.checked+'>\n';
        form.innerHTML += '<input type="number" name="distance" value='+slider.value+'>\n';
        form.innerHTML += '<input type="number" name="rating" value=' + sliderRate.value+'>\n';
        
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        }

        function showPosition(position) {
          form.innerHTML += '<input type="number" name="longitude" value=' + position.coords.longitude+'>\n'; 
          form.innerHTML += '<input type="number" name="latitude" value=' + position.coords.latitude+'>\n';

          var circle = L.circle([position.coords.latitude, position.coords.longitude], {
                color: 'blue',
                fillColor: '#f03',
                fillOpacity: 0.5,
                radius: 10
            }).addTo(map)
        }

        console.log(form);
        document.body.appendChild(form);
        form.submit();
      }
      
    </script>




    <div id="map"></div>

    <script>
      var map = L.map('map').setView([33.646, -117.843], 17);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 19,
        minZoom: 16,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiY2F0aGVyaW5lMTAzMDEiLCJhIjoiY2wzZmY1OGp6MDU2NDNjbHE5dHRld2U4cSJ9.vtDWqK9r4idKKgr9thStKQ'
      }).addTo(map);

      /*location tracking*/

      function getLocation() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
          x.innerHTML = "Geolocation is not supported by this browser.";
        }
      }

      var clicked = false;
      function OpenModal(pin)
      {
        console.log(pin);
        if (!clicked) {
          clicked = true;
          var outerpopup = document.createElement('div');
          outerpopup.className = 'outerpopup';
          console.log(outerpopup);
          var popup = document.createElement('div');
          outerpopup.appendChild(popup);
          popup.className = 'popup';
          var cancel = document.createElement('div');
          cancel.className = 'cancel';
          cancel.innerHTML = '✖';
          cancel.onclick = function (e) { outerpopup.parentNode.removeChild(outerpopup);
          clicked = false; };
          var message = document.createElement('p');
          message.innerHTML = 'Hello' +pin; // TODO: PUT IN PIN INFORMATION
          popup.appendChild(cancel);
          popup.appendChild(message);
          document.body.appendChild(outerpopup);
          console.log(popup);
        }
      }
    </script>
    
    <ul>
      {% for pin in pins %}
        <script>

          popup = '<center><b>{{pin.name}}</b></center>';
          popup += '<p style="font-size:1px" <br></p>';
          if ('{{pin.bathroom_male.avg}}' != 0)
          {
            popup += "Men's Bathroom: {{pin.bathroom_male.avg}}<br>";
          }
          if ('{{pin.bathroom_female.avg}}' != 0)
          {
            popup += "Women's Bathroom: {{pin.bathroom_female.avg}}<br>";
          }
          if ('{{pin.bathroom_inclusive.avg}}' != 0)
          {
            popup += "Inclusive Bathroom: {{pin.bathroom_inclusive.avg}}<br>";
          }
          popup += '<p style="font-size:8px" <br></p><button class="button" onclick="OpenModal({{pin.latitude}})">more</button><br>';

          var pin = L.marker(['{{pin.latitude}}', '{{pin.longitude}}'],
          {alt: name, title: name}).addTo(map)
          .bindPopup(popup);
        </script>
      {% endfor %}
    </ul>
  </body>
</html>